* {

  margin: 0;

  padding: 0;

  box-sizing: border-box;

}

body {
  background-color: #d8e2dc;
}

.navbar {
  display: grid;
  grid-template-columns: fit-content(100px) 1fr 1fr fit-content(100px);
  background-color: #fec5bb;
  align-items: center;
  border-bottom: 2px solid;
  border-color: #e56b6f21;
}

.logo {
  font-family: 'Quicksand', sans-serif;
  padding: 0.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
  color: #F8EDEB;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center; 
}

.nav-links li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-right: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Quicksand', sans-serif;
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
  color: #e56b6f;
}

.nav-links li:hover {
  border-top: 3px solid; 
  margin-top: -3px; 
  cursor: pointer; 
}

.shopping-cart {
  color: #e56b6f;
  position: absolute;
  right: 20px; 
}
